@page
@model WebApp.Pages.TipoIdentificacion.GridModel
@{
}
<div class="container-fluid">

    <div class="card">
        <div class="card-header">
            Tipo Identificacion
        </div>
        <div class="card-body">

            <a class="btn btn-primary" asp-page="Edit">
                <i class='bx bxs-add-to-queue'></i>
            </a>

            <div class="row">
                <div class="col-12">
                    <table id="GridView" class="table table-bordered table table-striped table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Descripcion</th>                               
                            </tr>
                        </thead>
                        <tboby>
                            @foreach (var item in Model.GridList)
                            {
                <tr>
                    <td>@item.IdTipoIdentificacion</td>
                    <td>@item.Descripcion</td>                    
                    <td>
                        <a class="btn btn-primary" asp-page="Edit" asp-route-id="@item.IdTipoIdentificacion"><i class='bx bx-edit-alt'></i></a>

                        <button type="button" class="btn btn-danger" onclick="TipoIdentificacionGrid.OnClickEliminar(@item.IdTipoIdentificacion)">
                            <i class='bx bx-trash'></i>
                        </button>
                    </td>
                </tr>}
                        </tboby>
                    </table>

                </div>
            </div>



        </div>
    </div>


</div>

@section Scripts{

    <script>
        var MensajeApp = "@Html.Raw(Model.Mensaje)";
    </script>

    <script defer src="~/App/TipoIdentificacion/Grid.js"></script>

}
